.parent{
    border: 5px solid red;
    width: fit-content;
    margin-top: 100px;
}

.children{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: inline-block;
}

.static-special{
    position:static;
    left: 100px;
    right: 23px;
}

#relative-special{
    position: relative;
    bottom: 50px;
}

#absolute-special{
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: red;
}

#fixed{
    position: fixed;

    top: 0;
    right: 0;
}

#sticky{
    position: sticky;
    top: 100px;
    left: 100px;

}